<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <id>skinswitch</id>
    <name>
        <lang name="default">Skin Switch</lang>
    </name>
    <author>
        <lang name="default">Alto CMS Team</lang>
    </author>
    <homepage>http://altocms.ru/</homepage>
    <version>1.1.0</version>
    <dirname>skinswitch</dirname>
    <requires>
        <alto>
            <version>1.0</version>
        </alto>
    </requires>
    <description>
        <lang name="default">Skins and themes switcher for Alto CMS</lang>
    </description>
</plugin>
